<section class="login-section">
  <div class="login-container">
    <h1>Faça seu login</h1>

    <!-- Mensagem de erro geral -->
    <div *ngIf="errorMsg" class="error-message">
      {{ errorMsg }}
    </div>

    <!-- Formulário de Login -->
    <form #formLogin="ngForm" (ngSubmit)="login()">
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Digite seu email"
        required
        email
      />

      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Digite sua senha"
        required
      />

      <button
        type="submit"
        class="btn-primary"
        [disabled]="carregando || formLogin.invalid"
      >
        <ng-container *ngIf="!carregando; else loadingTpl">
          <img src="assets/logo1.png" alt="FaculRide" class="btn-icon" />
          Entrar
        </ng-container>

        <ng-template #loadingTpl>
          <div class="loading-wrapper">
            <span class="spinner"></span>
            Carregando...
          </div>
        </ng-template>
      </button>
    </form>

    <!-- Alterar Senha -->
    <button class="recover-password" (click)="toggleRecoverPassword()">
      Alterar senha
    </button>

    <!-- Seção Alterar Senha -->
    <div *ngIf="showRecoverPasswordSection" class="recover-container">

      <input
        type="password"
        [(ngModel)]="senhaAtual"
        placeholder="Senha atual"
      />

      <input
        type="password"
        [(ngModel)]="novaSenha"
        placeholder="Nova senha"
      />

      <input
        type="password"
        [(ngModel)]="confirmarSenha"
        placeholder="Confirmar nova senha"
      />

      <button
        type="button"
        class="btn-primary"
        (click)="alterarSenha()"
      >
        Alterar senha
      </button>

      <div *ngIf="recoverMsg" class="success-message">
        {{ recoverMsg }}
      </div>
    </div>

    <!-- Futuro Login Social -->

    <!--
    <p class="ou">ou</p>

    <button type="button" class="btn-google">
      <img src="assets/google.png" alt="Google" class="btn-icon" />
      Continuar com Google
    </button>

    <button type="button" class="btn-facebook">
      <img src="assets/facebook.png" alt="Facebook" class="btn-icon" />
      Continuar com Facebook
    </button>
    -->

    <!-- Link Cadastro -->
    <p class="cadastro">
      Ainda não tem cadastro?
      <a routerLink="/cadastro">Cadastrar</a>
    </p>

  </div>
</section>